<div class="page-north">
    <div class="container-fluid">
        <h1 id="mainlogo">merchlord</h1>
        <div class="about">
            <p>Got a bunch of shirts that don't fit anymore?</p>
            <p>Got a bunch of awesome vinyl you want to part ways with?</p>
            <p>Want to kill an afternoon browsing amazing koozies?</p>
            <p>We're here for you.</p>
        </div>
    </div>
</div>
<div class="page-south">
    <div class="container-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="actionbutton" id="browsebutton"><h3>Browse</h3></div>
                <ul class="browsebuttons-big">
                    <li class="actionbutton-small" id="randombutton"><h4>Random</h4></li>
                        <!-- RANDOM BROWSING GOES HERE -->
                    <li class="actionbutton-small" id="categoriesbutton"><h4>Categories</h4></li>
                        <!-- CATEGORIZED BROWSING GOES HERE -->
                        <ul class="categories-big">
                            <li class="category-big">T-Shirts</li>
                            <li class="category-big">Sleeveless</li>
                            <li class="category-big">Sweatshirts</li>
                            <li class="category-big">Jackets</li>
                            <li class="category-big">Novelty/Misc.</li>
                            <li class="category-big">Vinyl</li>
                            <li class="category-big">CDs</li>
                            <li class="category-big">Audio Tapes</li>
                            <li class="category-big">Video Tapes</li>
                            <li class="category-big">DVDs</li>
                        </ul>
                </ul>
            <div class="actionbutton" id="loginbutton"><h3>Log In</h3></div>
                <!-- LOGIN FORM GOES HERE -->
            <div class="actionbutton" id "signupbutton"><h3>Sign Up</h3></div>
                <!-- SIGNUP FORM GOES HERE -->
        </div>
        <div class="col-md-4"></div>
    </div>
</div>