<div class="container-fluid">
    <h1>merchlord</h1>
    <div class="about">
        <h2>about merchlord</h2>
        <p>Got a bunch of shirts that don't fit anymore?</p>
        <p>Got a bunch of awesome vinyl you want to part ways with?</p>
        <p>Want to kill an afternoon browsing amazing koozies?</p>
        <p>We're here for you.</p>
    </div>
    <div class="actionbutton">Browse</div>
        <ul class="browsebuttons-big">
            <li class="actionbutton-small">Random</li>
            <li class="actionbutton-small">Categories</li>
                <ul class="categories-big">
                    <li class="category-big">T-Shirts</li>
                    <li class="category-big">Sleeveless</li>
                    <li class="category-big">Sweatshirts</li>
                    <li class="category-big">Jackets</li>
                    <li class="category-big">Novelty/Misc.</li>
                    <li class="category-big">Vinyl: Small</li>
                    <li class="category-big">Vinyl: Big</li>
                    <li class="category-big">CDs</li>
                    <li class="category-big">Audio Tapes</li>
                    <li class="category-big">Video Tapes</li>
                    <li class="category-big">DVDs</li>
                </ul>
        </ul>
    <div class="actionbutton">Log In</div>
        <!-- LOGIN FORM GOES HERE -->
    <div class="actionbutton">Sign Up</div>
        <!-- SIGNUP FORM GOES HERE -->
</div>