@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$alice-blue: #f2f4ff;
$columbia-blue: #a9d3ff;
$baby-blue: #96c5f7;
$botticelli: #93acb5;
$sirocco: #6c756b;
$charcoal: #3f3f3f;
$zircon: #e0e0e0;
$aquamarine: #7cffc4;
$shuttle-gray: #5e6973;

/* universal */

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li {
    list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
    display: none;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* REAL CUSTOM STYLES */

.topnav {
    background-color: $alice-blue;
    height: 3.2em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  color: $sirocco;
  padding-top: 3px;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: Lobster, serif;
    &:hover {
      color: $botticelli;
      text-decoration: none;
    }
}

.navlink {
    color: $sirocco;
    font-family: Hind, sans-serif;
    font-weight: 300;
    padding-top: 7px;
}

.page {
    height: 1260px;
    width: 100%;
    background-color: $charcoal;
}

.page-north {
    text-align: center;
}

#mainlogo {
    margin-top: 165px;
    font-family: Lobster, serif;
    font-size: 7em;
    color: $botticelli;
    
    &:hover {
        color: $alice-blue;
        cursor: pointer;
    }
}

.about {
    margin-top: -23px;
    margin-bottom: 33px;
    p {
        font-family: Hind, sans-serif;
        font-weight: 300;
        font-size: 1.15em;
        color: $alice-blue;
    }
}

.page-south {
    margin-top: -23px;
    text-align: center;
}

.actionbutton {
    text-align: center;
    color: $columbia-blue;
    border: 2px solid $columbia-blue;
    width: 100%;
    height: 60px;
    &:hover {
        background-color: $columbia-blue;
        color: $charcoal;
        cursor: pointer;
    }
    h3 {
        font-family: Hind, sans-serif;
        font-weight: 300;
        font-size: 1.25em;
        padding-top: 3px;
        text-transform: uppercase;
    }
}

#browsebutton {
    margin-bottom: 9px;
}

.browsebuttons-big {
    margin-left: -20px;
}

.actionbutton-small {
    text-align: center;
    color: $zircon;
    border: 1.85px solid $zircon;
    width: 95%;
    height: 45px;
    &:hover {
        background-color: $zircon;
        color: $sirocco;
        cursor: pointer;
    }
    h4 {
        font-family: Hind, sans-serif;
        font-weight: 300;
        font-size: 1.15em;
        padding-top: 5px;
        text-transform: uppercase;
    }
}

.categories-big {
    margin-top: 7px;
    margin-left: -30px;
}

.category-big {
    text-align: center;
    color: $aquamarine;
    border: 1.75px solid $aquamarine;
    width: 92%;
    height: 43%;
    &:hover {
        background-color: $aquamarine;
        color: $shuttle-gray;
        cursor: pointer;
    }
    h5 {
        font-family: Hind, sans-serif;
        font-weight: 300;
        font-size: 1.11em;
        padding-top: 4.75px;
        text-transform: uppercase;
    }
}

#randombutton {
    margin-bottom: 7px;
}

#loginbutton {
    margin-top: -2px;
    margin-bottom: 7px;
}