<header class="topnav navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "merchlord", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#', :class => "navlink" %></li>
        <li id="cat-link-header"><%= link_to "Categories",   '#', :class => "navlink" %></li>
      </ul>
    </nav>
  </div>
</header>